<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
    <!-- Framework Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/owl.carousel.min.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/animations.min.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet" />
    <!-- Style Theme -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body class="about" style="width: 100%;">
    <div class="wrapper">
        <!--===================== Header ========================-->
        <header>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <a href="index">
                            <img src="assets/img/logo.png" class="logo" alt="images" />
                        </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 text-right">
                        <!--===================== Header Block ========================-->
                        <div class="header-block">
                            <ul class="nav-menu list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="about-us">About Us<span>-</span></a>
                                </li>
                                <li class="list-inline-item top-sub-menu">
                                    <a href="contact">Support<span>-</span></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="faq">FAQ</a></li>
                                        </ul>
                                    </div>
                                    <!--sub-menu-->
                                </li>
                                <!--top-sub-menu"-->
                                <li class="list-inline-item">
                                    <a href="login">Login<span>-</span></a>
                                </li>
                                <!-- <li class="list-inline-item"><a href="sign-up">Register<span>-</span></a></li> -->
                            </ul>
                            <div class="text-center">
                                <a href="contact" class="blue-brd-btn">Get In Touch</a>
                            </div>
                        </div>
                        <button class="mobile-btn">
                            <span></span>
                        </button>
                        <!--===================== End of Header Block ========================-->
                    </div>
                </div>
            </div>
        </header>
        <!--===================== End of Header ========================-->
        <!--===================== First Section ========================-->
        <div class="first-section animatedParent">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
                        <div class="text">
                            <h1>About Company</h1>
                            <span class="d-flex align-items-center"><b class="line">&nbsp;</b>Earn from 30% to 35% every
                                day!<b class="line">&nbsp;</b></span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
                        <img src="assets/img/a0ca04971cb0e4924131811ec5c6d9df.jpg" alt="about-img" />
                    </div>
                </div>
            </div>
            <div class="cloud">&nbsp;</div>
            <div class="cloud-two">&nbsp;</div>
            <div class="mini-cloud"></div>
            <div class="mini-cloud two"></div>
            <div class="mini-cloud three"></div>
        </div>
        <!--===================== End of First Section ========================-->
        <div class="philosophy-block">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-md-6 animated bounceInLeft delay-250">
                        <img src="assets/img/Hash certificate.jpg" alt="images" style="
                  border-radius: 15px;
                  border: 10px solid #3a3864;
                  max-width: 50%;
                " />
                        <!-- <div class="coin-speacial-block">
							<img src="assets/img/bitcoin-element.png" alt="images">
							<h4>Coins Special</h4>
							<p>Lorem ipsum ееdolor sit amet,  consectetur adipiscing elit.</p>
							<span>$7 500</span>
						</div> -->
                    </div>
                    <div class="col-md-6 philosophy-div2 animated bounceInRight delay-500">
                        <h4></h4>
                        <h2 class="h2-main">Company certification</h2>
                        <p>
                            Aviva income dex is incorporated under the Companies Act 1985 by the registrar of
                            companies for England and Wales under our brand name Aviva investors infrastructure income,
                            registration number 10891015 , and operates within the legal framework of the country of
                            registration
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <p>
                        Crypto-currency mining is considered to be one of the most promising and most liquid areas for
                        investment in the last years. The vast majority of Internet users do not have sufficient
                        opportunities to purchase expensive computing equipment, and the profitability of small
                        investments in this area of activity is very doubtful. Our company offers an alternative option
                        consisting in the rental of computing capacities for the cloud mining of crypto-currencies. All
                        adult investors are invited to cooperate, and each participant of the project is guaranteed
                        transparency and stability of dividends. In addition to the transfer of mining equipment for
                        rent to investors, Aviva income dex can offer a number of complete solutions for better
                        interaction between investors and partners with the management. The company's online resource
                        uses the latest technologies to protect the transfer of confidential data and financial
                        transactions, and we also use special software to optimize management processes and ensure the
                        continuity of crypto-currency mining.
                    </p>
                </div>
            </div>
        </div>
        <!--===================== About Working ========================-->
        <div class="about-working">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5"><img src="assets/img/v9gj4lh8tr1xnbyp.jpg" alt="images" /></div>
                    <div class="col-xl-7 col-12">
                        <div class="text-head">
                            <h5>Advantages of Our Company</h5>
                            <!-- <h2 class="h2-main">About working here </h2> -->
                        </div>
                        <!--text-head-->
                        <ul class="list-unstyled animatedParent">
                            <li class="d-flex align-items-center animated bounceInRight delay-250">
                                <img src="assets/img/icon-about.svg" alt="icon-about" />
                                <div class="content">
                                    <h5>24/7 Support</h5>
                                    <p>
                                        Contact us in any convenient way and you will receive the necessary information.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center animated bounceInRight delay-500">
                                <img src="assets/img/icon-about2.svg" alt="icon-about" />
                                <div class="content">
                                    <h5>Daily income</h5>
                                    <p>
                                        Your deposit works for you exactly indefinitely, and accruals are made every
                                        day.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center animated bounceInRight delay-750">
                                <img src="assets/img/reason-icon2.svg" alt="icon-about" />
                                <div class="content">
                                    <h5>Security</h5>
                                    <p>
                                        Your profits, deposits and transactions are displayed in your personal
                                        portfolio, you can access it from any device, and all your accounts are securely
                                        encrypted.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center animated bounceInRight delay-1250">
                                <img src="assets/img/icon-about6.svg" alt="icon-about" />
                                <div class="content">
                                    <h5>Professional team</h5>
                                    <p>
                                        We have many years of experience working on stock exchanges and in the sphere of
                                        cryptocurrency – you can completely entrust your investments to us.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of About Working ========================-->

        <!--===================== Footer ========================-->
        <footer>
            <div class="container">
                <div class="row footer-menu-wrap">
                    <a href="https://t.me/joinchat/M5JG41WGSLRm_Hl86FgXOA"><img src="assets/img/telegramlogo.png" alt=""
                            style="width: 70px; position: fixed; left: 15px; bottom: 15px; z-index: 5;"></a>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="logo">
                            <a href="/"><img src="assets/img/footer-logo.png" alt="images" /></a>
                            <p>
                                We create the future. This is how we would define the main activity of the company.
                                Cryptocurrency - in particular Bitcoin - the future of the global financial market. And
                                now we are engaged in the extraction of one of the most valuable resources, which
                                allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of
                                converting opportunities into real money. We invite everyone to join us on the road to
                                success and financial independence.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="inside-column">
                            <h4 class="title">Company</h4>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="about-us">About us</a></li>
                                <li><a href="sign-up">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-12">
                        <div class="inside">
                            <h4 class="title">Support</h4>
                            <ul class="list-unstyled">
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-12">
                        <h4 class="title">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"> helpdesk@avivaincome-dex-support.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--===================== Copyright ========================-->
            <div class="copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <p>
                                <img class="svg social-link" src="assets/img/copyright.svg" alt="images" />2017 All
                                Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-6 col-6">

                        </div>
                    </div>
                </div>
            </div>
            <!--===================== End of Copyright ========================-->
        </footer>
        <!--===================== End of Footer ========================-->
    </div>
    <!--wrapper-->
    <script src="assets/js/lib/jquery-3.2.1.js"></script>
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="assets/js/lib/slick.min.js"></script>
    <script src="assets/js/lib/css3-animate-it.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>