<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Upload verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
    <!-- Framework Css -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/owl.carousel.min.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/animations.min.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet" />
    <!-- Style Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body class="blog">
    <div class="wrapper">
        <!--===================== Header ========================-->
        <header class="header-type-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <a href="index">
                            <img src="assets/img/logo.png" class="logo" alt="images" />
                        </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-right">
                        <!--===================== Header Block ========================-->
                        <div class="header-block">
                            <ul class="nav-menu list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="about-us">About Us<span>-</span></a>
                                </li>
                                <li class="list-inline-item top-sub-menu">
                                    <a href="contact">Support<span>-</span></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="faq">FAQ</a></li>
                                        </ul>
                                    </div>
                                    <!--sub-menu-->
                                </li>
                                <!--top-sub-menu"-->
                                <li class="list-inline-item">
                                    <a href="/api/v1/auth/logout">Logout<span>-</span></a>
                                </li>
                                <!-- <li class="list-inline-item"><a href="sign-up">Register<span>-</span></a></li> -->
                            </ul>
                            <div class="text-center">
                                <a href="contact" class="blue-brd-btn">Get In Touch</a>
                            </div>
                        </div>
                        <button class="mobile-btn">
                            <span></span>
                        </button>
                        <!--===================== End of Header Block ========================-->
                    </div>
                </div>
            </div>
        </header>
        <!--===================== End of Header ========================-->

        <div class="container margin-bottom-list">
            <div class="row animatedParent">
                <div class="col-xl-9 col-lg-9 col-12 animated bounceInLeft">
                    <div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <p><strong>Email: helpdesk@avivaincome-dex-support.com</strong></p>
                </div>
            </div>
        </div>
        <div class="container-fluid animatedParent">
            <div id="google_translate_element" style="padding-left: 5vw;"></div>
        </div>
        <% if(kycuploads.length > 0) { %>
        <div class="container-fluid animatedParent" style="
          background-color: #cccccc;
          border-radius: 15px;
          width: 90%;
          padding: 20px 0px 20px 1px;
                border: 10px solid #3a3864;
                  min-height: 10vh;
         ">
            <p>
                <strong>You have succesfuly uploaded your document for KYC verification.
                    Please hold on while we verify you
                </strong>
            </p>
        </div>
        <% } else { %>
        <div class="container">
            <h4>
                <strong>Upload government approved I.D for KYC verification</strong>
            </h4>
        </div>
        <div class="container-fluid animatedParent" style="
          background-color: #cccccc;
                  border-radius: 15px;
                           width: 90%   ;
                     padding:        20px 0px 20px 1px;
                border:             10px solid #3a3864;
                        min-height      : 10vh;
                ">
            <form encType="multipart/form-data" action="/kycupload" method="POST">
                <div className="form-group" style="margin-top: 15px; margin: 10px">
                    <input type="file" class="parcel-img" id="parcel-img" name="image" />
                </div>

                <input type="text" class="form-control" style="display: none; margin: 10px" id="amountInput"
                    value="<%= `${user._id}` %>" name="user" />

                <input style="background-color: #3a3864; margin: 10px; border: none" class="see-brd-btn" type="submit"
                    value="Submit" />
            </form>
        </div>
        <% } %>

        <!--===================== Footer ========================-->
        <footer>
            <div class="container">
                <a href="https://t.me/joinchat/M5JG41WGSLRm_Hl86FgXOA"><img src="assets/img/telegramlogo.png" alt=""
                        style="width: 70px; position: fixed; left: 15px; bottom: 15px; z-index: 5; display: none"></a>
                <div class="row footer-menu-wrap">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="logo">
                            <a href="/"><img src="assets/img/footer-logo.png" alt="images" /></a>
                            <p>
                                Bitcoin mining is the basic way you can grow your bitcoin .The primary purpose of mining
                                is to allow Bitcoin nodes to reach a secure, tamper-resistant consensus. Mining is also
                                the mechanism used to introduce bitcoins into the system. Miners are paid transaction
                                fees as well as a subsidy of newly created coins, called block rewards. This both serves
                                the purpose of disseminating new coins in a decentralized manner as well as motivating
                                people to provide security for the system through mining.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="inside-column">
                            <h4 class="title">Company</h4>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="about-us">About us</a></li>
                                <li><a href="sign-up">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-12">
                        <div class="inside">
                            <h4 class="title">Support</h4>
                            <ul class="list-unstyled">
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-12">
                        <h4 class="title">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"> helpdesk@avivaincome-dex-support.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--===================== Copyright ========================-->
            <div class="copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <p>
                                <img class="svg social-link" src="assets/img/copyright.svg" alt="images" />2017 All
                                Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-6 col-6">

                        </div>
                    </div>
                </div>
            </div>

            <script src="//code.tidio.co/tmjkrgwscwqpklqb2tzm4g6rybmikyks.js" async></script>

            <!--===================== End of Copyright ========================-->
        </footer>
        <!--===================== End of Footer ========================-->
    </div>
    <!--wrapper-->
    <script sr c="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("b              ody").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
    <script sr c="assets/js/lib/jquery-3.2.1.js"></script>
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script sr c="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="assets/js/lib/slick.min.js"></script>
    <script src="assets/js/lib/css3-animate-it.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="      text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="te             xt/javascript">
        function g oogleTranslateElementInit() { new go ogle.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element'); }
        </scri pt>
</body>

</ht ml> independence.