<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Contact us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
  <!-- Framework Css -->
  <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css" />
  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="assets/css/lib/owl.carousel.min.css" />
  <!-- Slick Carousel -->
  <link rel="stylesheet" type="text/css" href="assets/css/lib/slick.css" />
  <!-- Animation -->
  <link rel="stylesheet" type="text/css" href="assets/css/lib/animations.min.css" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet" />
  <!-- Style Theme -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  <!-- Responsive Theme -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
  <link rel="manifest" href="assets/img/site.webmanifest" />
  <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
</head>

<body class="contact">
  <div class="wrapper">
    <!--===================== Header ========================-->
    <header>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-3 col-md-12">
            <a href="index">
              <img src="assets/img/logo.png" class="logo" alt="images" />
            </a>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-12 text-right">
            <!--===================== Header Block ========================-->
            <div class="header-block">
              <ul class="nav-menu list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="about-us">About Us<span>-</span></a>
                </li>
                <li class="list-inline-item top-sub-menu">
                  <a href="contact">Support<span>-</span></a>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="contact">Contact</a></li>
                      <li><a href="faq">FAQ</a></li>
                    </ul>
                  </div>
                  <!--sub-menu-->
                </li>
                <!--top-sub-menu"-->
                <li class="list-inline-item">
                  <a href="login">Login<span>-</span></a>
                </li>
                <!-- <li class="list-inline-item"><a href="sign-up">Register<span>-</span></a></li> -->
              </ul>
              <div class="text-center">
                <a href="contact" class="blue-brd-btn">Get In Touch</a>
              </div>
            </div>
            <button class="mobile-btn">
              <span></span>
            </button>
            <!--===================== End of Header Block ========================-->
          </div>
        </div>
      </div>
    </header>
    <!--===================== End of Header ========================-->
    <!--===================== First Section ========================-->
    <div class="first-section not-images">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="text">
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="cloud">&nbsp;</div>
      <div class="cloud-two">&nbsp;</div>
      <div class="mini-cloud"></div>
      <d iv class="mini-cloud two">
    </div>
  </div>
  <!--===================== End of First Section ========================-->
  <!--===================== Contact Block ========================-->
  <div class="contact-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-12 pr-lg-0">
          <div class="bg">
            <h4>Send us a Message</h4>
            <form class="custom-form" action="contact" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Your Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="name" required />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" name="email" required />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Phone</label>
                <input type="text" class="form-control" id="exampleInputEmail3" name="phoneNumber" required />
              </div>

              <div class="form-group last">
                <label for="exampleInputEmail1">Message</label>
                <textarea name="message" required></textarea>
              </div>
              <div class="text-right">
                <button type="submit" class="see-brd-btn">Send</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-12 pl-lg-0">
          <div class="contact-info">
            <h4>Contact Information</h4>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center">
                <img src="assets/img/map-marker.svg" alt="" />
                <div>
                  <span>St Helen's, 1 Undershaft, London, United Kingdom, EC3P 3DQ</span>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <img src="assets/img/email.svg" alt="email" />
                <span><a> helpdesk@avivaincome-dex-support.com</a></span>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>

    <!--                ==========                =========== End of Contact Block ========================-->
  </div>
  <!--          ====================       = Footer ========================-->
  <footer>
    <div class="container">
      <a href="https://t.me/joinchat/M5JG41WGSLRm_Hl86FgXOA"><img src="assets/img/telegramlogo.png" alt=""
          style="width: 70px; position: fixed; left: 15px; bottom: 15px; z-index: 5;"></a>
      <div class="row footer-menu-wrap">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
          <div class="logo">
            <a href="/"><img src="assets/img/footer-logo.png" alt="images" /></a>
            <p>
              We create the future. This is how we would define the main activity of the company.
              Cryptocurrency - in particular Bitcoin - the future of the global financial market. And
              now we are engaged in the extraction of one of the most valuable resources, which
              allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of
              converting opportunities into real money. We invite everyone to join us on the road to
              success and financial independence.
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-12">
          <div class="inside-column">
            <h4 class="title">Company</h4>
            <ul class="list-unstyled">
              <li><a href="/">Home</a></li>
              <li><a href="about-us">About us</a></li>
              <li><a href="sign-up">Register</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-6 col-12">
          <div class="inside">
            <h4 class="title">Support</h4>
            <ul class="list-unstyled">
              <li><a href="contact">Contact Us</a></li>
              <li><a href="faq">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-12">
          <h4 class="title">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#"> helpdesk@avivaincome-dex-support.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--===================== Copyright ========================-->
    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-6">
            <p>
              <img class="svg social-link" src="assets/img/copyright.svg" alt="images" />2017 All
              Rights Reserved
            </p>
          </div>
          <div class="col-md-6 col-6">

          </div>
        </div>
      </div>
    </div>
    <!--===================== End of Copyright ========================-->
  </footer>
  <!--===================== End of Footer ========================-->
  </div>
  <!--wrapper-->
  <script src="assets/js/lib/jquery-3.2.1.js"></script>
  <script src="assets/js/lib/popper.min.js"></script>
  <script src="assets/js/lib/bootstrap.min.js"></script>
  <script src="assets/js/lib/owl.carousel.min.js"></script>
  <script src="assets/js/lib/masonry.pkgd.min.js"></script>
  <script src="assets/js/lib/slick.min.js"></script>
  <script src="assets/js/lib/css3-animate-it.js"></script>
  <script src="assets/js/main.js"></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en'
      }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = "https://embed.tawk.to/5f47cafe1e7ade5df44475d2/default";
      s1.charset = "UTF-8";
      s1.setAttribute("crossorigin", "*");
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
</body>

</html>