<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title> Aviva income dex - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
    <meta name="description"
        content=" Aviva income dex Inc is devoted to taking the hassle out of investing. Make money with bitcoin and grow your dormant funds" />
    <meta name="keywords" content=" Aviva income dex,  avivaincome-dex,  avivaincome-dexinc,  Aviva income dex inc" />
    <!-- Framework Css -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/owl.carousel.min.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/animations.min.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet" />
    <!-- Style Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="assets/img/apple-touch-icon.png" />
    <meta property="og:image" content="assets/img/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

</head>

<body>
    <div class="wrapper">
        <!--===================== Header ========================-->
        <header>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <a style="margin: 0; padding: 0" href="index">
                            <img src="assets/img/logo.png" class="logo" alt="images" />
                        </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 text-right">
                        <!--===================== Header Block ========================-->
                        <div class="header-block">
                            <ul class="nav-menu list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="about-us">About Us<span>-</span></a>
                                </li>
                                <li class="list-inline-item top-sub-menu">
                                    <a href="contact">Support<span>-</span></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="faq">FAQ</a></li>
                                        </ul>
                                    </div>
                                    <!--sub-menu-->
                                </li>
                                <!--top-sub-menu"-->
                                <li class="list-inline-item">
                                    <a href="login">Login<span>-</span></a>
                                </li>
                                <!-- <li class="list-inline-item"><a href="sign-up">Register<span>-</span></a></li> -->
                            </ul>
                            <div class="text-center">
                                <a href="contact" class="blue-brd-btn">Get In Touch</a>
                            </div>
                        </div>
                        <button class="mobile-btn">
                            <span></span>
                        </button>
                        <!--===================== End of Header Block ========================-->
                    </div>
                </div>
            </div>
        </header>
        <!--===================== End of Header ========================-->
        <!--===================== Slider ========================-->
        <div class="courusel-container" style="padding-bottom: 0px">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12  position-relative" id="google_translate_element"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div id="sync1" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="inside">
                                    <h1>Earn up to 150% every week!</h1>
                                    <p>
                                        Bitcoin is a new generation of decentralized digital currency, created and
                                        operating only on the Internet
                                    </p>
                                    <a href="sign-up" class="blue-brd-btn">Get started</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inside">
                                    <h1>Invest more, earn more!</h1>
                                    <p>
                                        Within each plan is an algorithm that enables us to offer back more value
                                        (higher profit margin) to bigger investors
                                    </p>
                                    <a href="sign-up" class="blue-brd-btn">Get started</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inside">
                                    <h1>The Future of smart investments is here!</h1>
                                    <p>
                                        No need to re-invent the wheel. Our team of expert traders do the heavy lifting
                                        for you. Just sit back, copy our signals and grow your dormant funds
                                    </p>
                                    <a href="sign-up" class="blue-brd-btn">Get started</a>
                                </div>
                            </div>
                        </div>
                        <div id="sync2" class="owl-carousel owl-theme"></div>
                        <!--owl-carousel-->
                        <div class="main-slider-logo-block owl-carousel owl-theme"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of Slider ========================-->
        <!--===================== Reasons Block ========================-->
        <div class="container animatedParent">
            <div class="row reasons-block">
                <div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
                    <h2 class="h2-main">A few reasons why we might be the right fit</h2>
                </div>
                <div class="col-xl-8 col-lg-8 col-12">
                    <div class="row">
                        <div class="col-sm-6 animated bounceInRight delay-250">
                            <!--===================== Reason Block Cont ========================-->
                            <div class="reason-block-cont">
                                <div class="reasons-icon-div">
                                    <img src="assets/img/reason-icon1.svg" alt="images" />
                                </div>
                                <div class="reasons-desc-div">
                                    <h4>Financial smartness - Grow your dormant funds</h4>
                                </div>
                            </div>
                            <!--===================== End of Reason Block Cont ========================-->
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-250">
                            <!--===================== Reason Block Cont ========================-->
                            <div class="reason-block-cont">
                                <div class="reasons-icon-div">
                                    <img src="assets/img/images-_2_.svg" alt="images" />
                                </div>
                                <div class="reasons-desc-div">
                                    <h4>
                                        Customer care that cares - Our live support and email are active 24 hours.
                                    </h4>
                                    <!-- <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                </div>
                            </div>
                            <!--===================== End of Reason Block Cont ========================-->
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-500">
                            <!--===================== Reason Block Cont ========================-->
                            <div class="reason-block-cont">
                                <div class="reasons-icon-div">
                                    <img src="assets/img/reason-icon3.svg" alt="images" />
                                </div>
                                <div class="reasons-desc-div">
                                    <h4>
                                        Lightning fast withdrawals - Money is in your bank account in 2 hours
                                    </h4>
                                    <!-- <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                </div>
                            </div>
                            <!--===================== End of Reason Block Cont ========================-->
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-500">
                            <!--===================== Reason Block Cont ========================-->
                            <div class="reason-block-cont">
                                <div class="reasons-icon-div">
                                    <img src="assets/img/reason-icon4.svg" alt="images" />
                                </div>
                                <div class="reasons-desc-div">
                                    <h4>
                                        Our retirement plan ensures you are taken care of when it matters
                                    </h4>
                                    <!-- <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                </div>
                            </div>
                            <!--===================== End of Reason Block Cont ========================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of Reasons Block ========================-->
        <!--===================== philosophy Block ========================-->
        <div class="philosophy-block">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-md-6 animated bounceInLeft delay-250">
                        <img src="assets/img/Hash certificate.jpg" alt="images" style="
                  border-radius: 15px;
                  border: 10px solid #3a3864;
                  max-width: 50%;
                " />
                        <!-- <div class="coin-speacial-block">
						<img src="assets/img/bitcoin-element.png" alt="images">
						<h4>Coins Special</h4>
						<p>Lorem ipsum ееdolor sit amet,  consectetur adipiscing elit.</p>
						<span>$7 500</span>
					</div> -->
                    </div>
                    <div class="col-md-6 philosophy-div2 animated bounceInRight delay-500">
                        <h4></h4>
                        <h2 class="h2-main">Company certification</h2>
                        <p>
                            Aviva income dex is incorporated under the Companies Act 1985 by the registrar of
                            companies for England and Wales under our brand name Aviva investors infrastructure income,
                            registration number 10891015 , and operates within the legal framework of the country of
                            registration
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of philosophy Block ========================-->
        <!--===================== Iphone Block ========================-->
        <!-- <div class="iphone-block animatedParent">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 text-center animated growIn">
					<div class="icon">
						<img src="assets/img/icon-phone.svg" alt="icon-phone">
					</div>
					<h2 class="h2-main">Device friendly widget</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam</p>
					<a href="blog-grid" class="see-brd-btn">Learn More</a>
				</div>
			</div>
		</div>
	</div> -->
        <!--===================== End of Iphone Block ========================-->
        <!--===================== Live Currency ========================-->
        <div class="container-fluid live-currency animatedParent">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 offset-lg-1 live-currency-div1 animated bounceInLeft delay-250">
                    <h4>Crypto market</h4>
                    <h2 class="h2-main">Live currency rates</h2>
                </div>
                <div class="col-lg-7 col-md-8 live-currency-div2 animated bounceInRight delay-500">
                    <div style="
                height: 256px;
                background-color: #ffffff;
                overflow: hidden;
                box-sizing: border-box;
                border: 1px solid #56667f;
                border-radius: 4px;
                text-align: right;
                line-height: 14px;
                font-size: 12px;
                font-feature-settings: normal;
                text-size-adjust: 100%;
                box-shadow: inset 0 -20px 0 0 #56667f;
                padding: 0px;
                margin: 0px;
                width: 100%;
              ">
                        <div style="height: 236px; padding: 0px; margin: 0px; width: 100%">
                            <iframe
                                src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=3&pref_coin_id=1505&graph=yes"
                                width="100%" height="232px" scrolling="auto" marginwidth="0" marginheight="0"
                                frameborder="0" border="0" style="border: 0; margin: 0; padding: 0"></iframe>
                        </div>
                        <div style="
                  color: #ffffff;
                  line-height: 14px;
                  font-weight: 400;
                  font-size: 11px;
                  box-sizing: border-box;
                  padding: 2px 6px;
                  width: 100%;
                  font-family: Verdana, Tahoma, Arial, sans-serif;
                ">
                            <a href="https://coinlib.io" target="_blank" style="
                    font-weight: 500;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 11px;
                  ">Cryptocurrency Prices</a>&nbsp;by Coinlib
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of Live Currency ========================-->
        <!--===================== OurTeam ========================-->

        <!--===================== End of OurTeam ========================-->
        <!--===================== Price Plan Wrapper ========================-->
        <div class="price-plan-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="h2-main">Our investment plans</h2>
                    </div>
                </div>
                <div class="row justify-content-center animatedParent">
                    <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInLeft delay-500">
                        <div class="price-plan-item-inside">
                            <div class="price-plan-icon-wrap">
                                <img class="price-plan-item-icon" src="assets/img/our-price-icon-2.svg" alt="images" />
                            </div>
                            <h4>Silver</h4>
                            <h2 class="price-plan-text-1">100%</h2>
                            <p class="price-plan-text-2">
                                Min/Max amount: <br />$100 - $999
                            </p>
                            <a href="sign-up" class="see-brd-btn">Sign Up</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInRight delay-250">
                        <div class="price-plan-item-inside">
                            <div class="price-plan-icon-wrap">
                                <img class="price-plan-item-icon" src="assets/img/our-price-icon-3.svg" alt="images" />
                            </div>
                            <h4>Gold</h4>
                            <h2 class="price-plan-text-1">120%</h2>
                            <p class="price-plan-text-2">
                                Min/Max amount: <br />$1000 - $4999
                            </p>
                            <a href="sign-up" class="see-brd-btn">Sign Up</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInRight delay-500">
                        <div class="price-plan-item-inside">
                            <div class="price-plan-icon-wrap">
                                <img class="price-plan-item-icon" src="assets/img/our-price-icon-4.svg" alt="images" />
                            </div>
                            <h4>Diamond</h4>
                            <h2 class="price-plan-text-1">150%</h2>
                            <p class="price-plan-text-2">
                                Min/Max amount: <br />$5000 - $1,000,000
                            </p>
                            <a href="sign-up" class="see-brd-btn">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of Price Plan Wrapper ========================-->
        <!--===================== Reviews Wrapper ========================-->
        <div class="reviews-wrapper animatedParent">
            <div class="container">
                <h2 class="h2-main" style="text-align: center">
                    What our clients say
                </h2>
                <div class="row">
                    <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-250">
                        <div class="reviews-inside">
                            <div class="reviews-img-wrap">
                                <img src="assets/img/review-img1.png" alt="images" />
                            </div>
                            <h4>Lora Michel</h4>
                            <p class="text-uppercase">Pharmacologist</p>
                            <p class="review-text">
                                “I loved the professional approach. From support to my agent to the website design,
                                everything was so smooth from investment to payday.”
                            </p>
                        </div>
                    </div>
                    <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-500">
                        <div class="reviews-inside">
                            <div class="reviews-img-wrap">
                                <img src="assets/img/review-img2.png" alt="images" />
                            </div>
                            <h4>Nina Rich</h4>
                            <p class="text-uppercase">Home maker</p>
                            <p class="review-text">
                                “I'm frankly wowed. I've been investing a while but the support i got here made it feel
                                like family. Extremely considerate and patient team. Even losing trades aren't so bad”
                            </p>
                        </div>
                    </div>
                    <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-750">
                        <div class="reviews-inside">
                            <div class="reviews-img-wrap">
                                <img src="assets/img/review-img3.png" alt="images" />
                            </div>
                            <h4>Robert Patinson</h4>
                            <p>Uber driver</p>
                            <p class="review-text">
                                “At first i was sceptical, but the fact that i actually see my earnings grow pushed me
                                to take the leap with Aviva income dex. I never regretted.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================== End of Reviews Wrapper ========================-->
        <!--===================== Footer ========================-->
        <footer>
            <div class="container">
                <a href="https://t.me/joinchat/M5JG41WGSLRm_Hl86FgXOA"><img src="assets/img/telegramlogo.png" alt=""
                        style="width: 70px; position: fixed; left: 15px; bottom: 15px; z-index: 5;"></a>
                <div class="row footer-menu-wrap">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="logo">
                            <a href="/"><img src="assets/img/footer-logo.png" alt="images" /></a>
                            <p>
                                We create the future. This is how we would define the main activity of our company.
                                Cryptocurrency - in particular Bitcoin - is the future of the global financial market.
                                And
                                now we are engaged in the extraction of one of the most valuable resources, which
                                allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of
                                converting opportunities into real money. We invite everyone to join us on the road to
                                success and financial independence.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="inside-column">
                            <h4 class="title">Company</h4>
                            <ul class="list-unstyled">
                                <li><a href="">Home</a></li>
                                <li><a href="about-us">About us</a></li>
                                <li><a href="sign-up">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-12">
                        <div class="inside">
                            <h4 class="title">Support</h4>
                            <ul class="list-unstyled">
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-12">
                        <h4 class="title">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"> helpdesk@avivaincome-dex-support.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--===================== Copyright ========================-->
            <div class="copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <p>
                                <img class="svg social-link" src="assets/img/copyright.svg" alt="images" />2017 All
                                Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-6 col-6">

                        </div>
                    </div>
                </div>
            </div>
            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
                var Tawk_API = Tawk_API || {},
                    Tawk_LoadStart = new Date();
                (function () {
                    var s1 = document.createElement("script"),
                        s0 = document.getElementsByTagName("script")[0];
                    s1.async = true;
                    s1.src = "https://embed.tawk.to/5f47cafe1e7ade5df44475d2/default";
                    s1.charset = "UTF-8";
                    s1.setAttribute("crossorigin", "*");
                    s0.parentNode.insertBefore(s1, s0);
                })();
            </script>
            <!--End of Tawk.to Script-->
            <!--===================== End of Copyright ========================-->
        </footer>
        <!--===================== End of Footer ========================-->
    </div>
    <!--wrapper-->
    <script src="assets/js/lib/jquery-3.2.1.js"></script>
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="assets/js/lib/slick.min.js"></script>
    <script src="assets/js/lib/css3-animate-it.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
</body>

</html>